div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  :hover {
    transition: background-color 0.5s ease-in-out;
    background-color: blue;
  }
}
