div {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  
}


.matTab {
  mat-tab-header {
    display: none !important;
    width: 0;
    height: 0;
  }
}
