div {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  
}

.main {
  background-color: white;
  /* max-width: 700px; */
  padding: 50px 80px;
  border-radius:26px;
}

.matTab {
  mat-tab-header {
    display: none !important;
    width: 0;
    height: 0;
  }
}

